
.card {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 260px;
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.card:hover{
    width: 240px;
    background-color: rgb(129, 129, 129);
}

.modal {
    border: 1px solid red;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    margin-top: auto;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
}

.linkButton {
    width: 90px;
    height: 30px;
}

.card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
}

.cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding-bottom: 5px;
}

.imageBox {
    width: 200px;
    height: 140px;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}


.modalContainer{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.modalHeader{
    display: flex;
    width: 100%;
    justify-content: end;
    padding-right: 10px;
    padding-top: 10px;
}
.closeButtonModal{
    width: 30px;
    height: 30px;
}